:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --white-color: #ffffff;
  --accent-text-color: #e7e9fc;
  --main-hover-color: #404bbf;
  --background-color: #f4f4fd;
  --svg-fill-color: #8e8f99;

  --main-font-font-family: "Roboto", sans-serif;
  --secondary-font-font-family: "Raleway", sans-serif;

  --main-trans-dur: 250ms;
  --main-trans-time-func: cubic-bezier(0.4, 0, 0.2, 1);
}

/* =============== Reset =============== */

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

b {
  font-weight: inherit;
}

/* =============== Common =============== */

body {
  font-family: var(--main-font-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--white-color);
  color: var(--primary-text-color);
}

.container {
  width: 100%;
  padding: 0 15px;
}

.list {
  list-style: none;
}

.title {
  color: var(--title-text-color);
}

.section {
  padding-bottom: 96px;
}

.button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =============== Header =============== */

.header {
  border-bottom: 1px solid var(--accent-text-color);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 22px;

  font-family: var(--secondary-font-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  text-decoration: none;
}

.decorarion-header {
  color: var(--title-text-color);
}

.nav-list-link {
  display: inline-block;

  font-weight: 500;
  color: var(--title-text-color);
  text-decoration: none;

  transition: color var(--main-trans-dur) var(--main-trans-time-func);
}

.nav-list-link.current {
  color: var(--main-hover-color);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--main-hover-color);
}

.contacts-list-link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-style: normal;

  transition: color var(--main-trans-dur) var(--main-trans-time-func);
}

.contacts-list-link:hover,
.contacts-list-link:focus {
  color: var(--main-hover-color);
}

/* =============== Hero =============== */

.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  width: 100%;
  margin: 0 auto;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--title-text-color);
  text-align: center;
}

.hero-title {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 72px;

  color: var(--white-color);
  font-size: 36px;
  line-height: 1.11;
}

.primary-button {
  min-width: 169px;
  padding: 16px 32px;
  border-radius: 4px;

  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--main-trans-dur) var(--main-trans-time-func);
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--main-hover-color);
}

/* =============== Features =============== */

.features {
  padding-top: 96px;
}

.thumb {
  display: none;
}

.features-title {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

/* =============== Examples =============== */

.examples {
  display: none;
}

/* =============== Team =============== */

.team {
  padding-top: 96px;

  background-color: var(--background-color);
}

.team-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.team-list {
  text-align: center;
}

.team-list li {
  width: 264px;
  display: inline-block;
}

.team-item-descr {
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: var(--white-color);
}

.team-item-title {
  font-weight: 500;
  margin-bottom: 8px;
}

.team-item-text {
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  gap: 0 24px;
  align-items: center;
}

.team-social-link {
  display: inline-block;
  padding: 12px;
  border-radius: 50%;

  background-color: var(--accent-color);

  transition: background-color var(--main-trans-dur) var(--main-trans-time-func);
}

.team-social-icon {
  display: block;
  width: 16px;
  height: 16px;

  fill: var(--background-color);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--main-hover-color);
}

/* =============== Customers =============== */

.customers {
  padding-top: 96px;
}

.customers-title {
  margin-bottom: 72px;

  text-align: center;
  font-size: 36px;
  line-height: 1.11;
}

.customers-list-link {
  display: inline-block;
  border: 1px solid var(--svg-fill-color);
  border-radius: 4px;
  padding: 16px 42px;

  color: var(--svg-fill-color);

  transition: color var(--main-trans-dur) var(--main-trans-time-func),
    border var(--main-trans-dur) var(--main-trans-time-func);
}

.customers-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}

.customers-list-link:hover,
.customers-list-link:focus {
  border: 1px solid var(--main-hover-color);
  color: var(--main-hover-color);
}

/* =============== Footer =============== */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--title-text-color);
}

.footer .logo {
  padding-bottom: 16px;
}

.footer-text {
  max-width: 264px;

  color: var(--accent-text-color);
}

.decorarion-footer {
  color: var(--white-color);
}

.footer-socials-text,
.subscription-box-text {
  margin-bottom: 16px;

  font-weight: 500;
  color: var(--white-color);
}

.footer-socials-list {
  display: flex;
  gap: 0 16px;
}

.footer-socials-link {
  display: inline-block;
  padding: 8px;
  border-radius: 50%;

  fill: var(--background-color);
  background: rgba(255, 255, 255, 0.1);

  transition: background-color var(--main-trans-dur) var(--main-trans-time-func);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}

.footer-socials-icon {
  display: block;
  width: 24px;
  height: 24px;
}

.subscription-form-input {
  display: block;
  width: 100%;
  padding: 8px 0 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: transparent;
  letter-spacing: 0.04em;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
}

.subscription-form-input:placeholder-shown {
  color: rgba(255, 255, 255, 0.6);
}

.subscription-form-btn {
  display: flex;
  align-items: center;
  padding: 10px 24px;
  border: none;
  border-radius: 4px;

  background-color: var(--accent-color);
  font-weight: 500;
  color: var(--white-color);

  transition: background-color var(--main-trans-dur) var(--main-trans-time-func);
}

.subscription-form-btn:hover,
.subscription-form-btn:focus {
  background-color: var(--main-hover-color);
}

.subscription-form-icon {
  width: 24px;
  height: 20px;
  margin-left: 16px;
}

/* =============== Modal window =============== */

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 1;
  visibility: visible;
  transition: opacity var(--main-trans-dur) var(--main-trans-time-func),
    visibility var(--main-trans-dur) var(--main-trans-time-func);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 392px;
  padding: 72px 16px 24px;
  position: relative;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--main-trans-dur) var(--main-trans-time-func);
}

.modal-close {
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background: #e7e9fc;

  transition: border var(--main-trans-dur) var(--main-trans-time-func),
    background-color var(--main-trans-dur) var(--main-trans-time-func);
}

.modal-close:hover,
.modal-close:focus {
  border: 1px solid var(--main-hover-color);
  background-color: var(--main-hover-color);
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: var(--white-color);
}

.modal-close-icon {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: fill var(--main-trans-dur) var(--main-trans-time-func);
}

.modal-title {
  display: block;
  margin-bottom: 16px;

  text-align: center;
  font-weight: 500;
  color: var(--title-text-color);
}

.modal-form-field {
  display: block;
  margin-bottom: 8px;
}

.modal-form-field:nth-child(4) {
  margin-bottom: 16px;
}

.modal-form-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04;
  color: #8e8f99;
}

.modal-form-wrapper {
  position: relative;
  display: block;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 18px;

  transition: border var(--main-trans-dur) var(--main-trans-time-func);
}

.modal-form-field:focus-within .modal-form-input {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal-form-field:focus-within .modal-input-icon {
  fill: var(--accent-color);
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;

  transition: fill var(--main-trans-dur) var(--main-trans-time-func);
}

.modal-form-comment {
  resize: none;
  height: 120px;
  padding: 8px 16px 8px 16px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04;
}

.modal-form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-label-checkbox {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.checkbox-wrapper {
  display: inline-block;
  position: relative;
  margin-right: 8px;
  min-width: 16px;
  min-height: 16px;
  background-color: transparent;

  border: 1.25px solid var(--title-text-color);
  border-radius: 2px;
  cursor: pointer;
  opacity: 1;

  transition: border var(--main-trans-dur) var(--main-trans-time-func);
}

.checkbox-icon {
  opacity: 0;
  position: absolute;
  transition: opacity var(--main-trans-dur) var(--main-trans-time-func);
}

.modal-form-checkbox:focus + .checkbox-wrapper {
  outline: 1px solid var(--accent-color);
}

.modal-form-checkbox:focus + .checkbox-icon {
  outline: 1px solid var(--accent-color);
}

.modal-form-checkbox:checked + .checkbox-wrapper {
  border: none;
}

.modal-form-checkbox:checked + .checkbox-wrapper .checkbox-icon {
  opacity: 1;
}

.privacy-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04;
  color: #757575;
}

.privacy-link {
  color: var(--accent-color);
  text-decoration: underline;
  cursor: pointer;
}

.modal-form button {
  display: block;
  min-width: 170px;
  padding: 16px 32px;
  border: none;
  margin: 0 auto;

  font-weight: 500;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color var(--main-trans-dur) var(--main-trans-time-func);
}

.modal-form button:hover,
.modal-form button:focus {
  background-color: var(--main-hover-color);
}

/* portfolio.html */

.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}

.categories-list {
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
}

.secondary-button {
  padding: 8px 16px;
  border: 1px solid var(--accent-text-color);
  border-radius: 4px;

  background-color: var(--background-color);
  color: var(--accent-color);

  transition: background-color var(--main-trans-dur) var(--main-trans-time-func),
    color var(--main-trans-dur) var(--main-trans-time-func),
    box-shadow var(--main-trans-dur) var(--main-trans-time-func),
    border var(--main-trans-dur) var(--main-trans-time-func);
}

.secondary-button:hover,
.secondary-button:focus {
  border: 1px solid transparent;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--main-hover-color);
  color: var(--white-color);
}

.portfolio-list li {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-list-link {
  display: inline-block;

  text-decoration: none;

  transition: box-shadow var(--main-trans-dur) var(--main-trans-time-func);
}

.portfolio-card-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px 0;
  transform: translateY(100%);

  background-color: var(--accent-color);

  transition: transform var(--main-trans-dur) var(--main-trans-time-func);
}

.portfolio-card-text {
  color: var(--background-color);
}

.portfolio-list-link:hover,
.portfolio-list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-link:hover .portfolio-card-overlay,
.portfolio-list-link:focus .portfolio-card-overlay {
  transform: translateY(0);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-item-descr {
  padding: 16px 8px;
  border-right: 1px solid var(--accent-text-color);
  border-left: 1px solid var(--accent-text-color);
  border-bottom: 1px solid var(--accent-text-color);
}

.portfolio-item-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 17px;
  line-height: 1.2;
}

.portfolio-item-text {
  font-size: 14px;
  color: var(--primary-text-color);
}

@media screen and (max-width: 1440px) and (min-width: 768px) {
  /* =============== Header =============== */

  .contact-list {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .contact-list li:first-child {
    margin-bottom: 12px;
  }

  /* =============== Customers =============== */

  .customers-list {
    width: 552px;
    margin: 0 auto;
  }

  /* =============== Footer =============== */

  .footer-inner {
    display: grid;
    grid-template-columns: 264px 208px;
    grid-gap: 72px 24px;
    width: 552px;
    margin: 0 auto;
  }
  .subscription-box {
    grid-column: 1/3;
  }
}

@media screen and (max-width: 767px) {
  /* =============== Header =============== */

  .js-open-menu {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 32px;
  }
  .js-menu-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    background-color: var(--white-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    transform: translateY(-100%);
    visibility: hidden;
    pointer-events: none;
    transition: transform 0.5s var(--main-trans-time-func),
      visibility 0.5s var(--main-trans-time-func);
  }
  .js-menu-container.is-open {
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu-container {
    position: relative;
    padding: 80px 40px 40px;
    height: 100%;
  }
  .js-close-menu.modal-close {
    top: 22px;
    right: 19px;
  }
  .mobile-menu-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .nav-list {
    display: none;
  }
  .js-menu-container.is-open .nav-list {
    display: block;
  }
  .js-menu-container .nav-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .nav-list-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }
  address {
    display: none;
  }
  .js-menu-container.is-open address {
    display: block;
    margin-top: auto;
  }
  .contact-item {
    margin-bottom: 40px;
  }
  .contact-item:nth-child(2) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 48px;
  }
  .mobile-menu-socials-list {
    display: flex;
    gap: 56px;
    align-items: center;
  }
  .mob-menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: var(--main-hover-color);
  }
  .mob-menu-social-icon {
    width: 24px;
    height: 24px;
    fill: var(--background-color);
  }

  /* =============== Features =============== */

  .features-list li:not(:last-child) {
    margin-bottom: 72px;
  }
  .features-title {
    text-align: center;
  }

  /* =============== Team =============== */

  .team-item:not(:last-child) {
    margin-bottom: 72px;
  }
  .team-item-text {
    font-weight: 400;
  }

  /* =============== Footer =============== */

  .footer-textbox {
    margin-bottom: 72px;
  }
  .footer-socials {
    margin-bottom: 72px;
  }
  .footer-inner {
    text-align: center;
  }
  .footer-socials-list {
    justify-content: center;
  }
  .footer-text,
  .subscription-form-btn {
    margin: 0 auto;
  }
  .subscription-form-input {
    margin-bottom: 16px;
  }
  .footer .logo {
    padding-top: 8px;
  }

  /* portfolio.html */

  .categories-list {
    width: 270px;
  }
  .portfolio-list {
    max-width: 396px;
    margin: 0 auto;
  }
  .portfolio-list li:not(:last-child) {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 428px) {
  /* =============== Customers =============== */

  .customers-list {
    width: 190px;
    margin: 0 auto;
  }
  .customers-list li:not(:last-child) {
    margin-bottom: 50px;
  }

  /* =============== Modal =============== */

  .modal {
    width: 300px;
    padding-top: 30px;
    padding-bottom: 16px;
  }
  .modal-title {
    margin-bottom: 2px;
  }
  .modal-form-field {
    margin-bottom: 4px;
  }
  .modal-form-comment {
    height: 80px;
  }
  .modal-close {
    top: 3px;
    right: 3px;
  }
  .modal-title {
    margin-bottom: 10px;
  }
  .modal-form-label-checkbox {
    margin-bottom: 8px;
  }
  .modal-form button {
    display: block;
    min-width: 140px;
    padding: 12px 32px;
  }

  /* portfolio.html */

  .categories-list {
    margin: 0 auto 48px;
  }
  .portfolio-list {
    margin: 0 auto 48px;
  }
  .portfolio-list li:not(:last-child) {
    margin-bottom: 48px;
  }
  .portfolio-img {
    max-width: 100%;
  }

  .mobile-menu-socials-list {
    gap: 24px;
    justify-content: center;
  }

  .js-menu-container {
    font-weight: 500;
    font-size: 24px;
  }
}

@media screen and (min-width: 428px) {
  /* =============== Common =============== */

  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }

  /* =============== Header =============== */

  /* =============== Hero =============== */

  .hero {
    width: 100%;
  }

  /* =============== Customers =============== */
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
  }
  .customers-list li {
    max-width: calc((100% - 16px) / 2);
  }
}

@media screen and (min-width: 768px) {
  /* =============== Common =============== */

  body {
    font-weight: 400;
  }
  .container {
    width: 768px;
  }

  /* =============== Header =============== */

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation {
    display: flex;
    gap: 0 120px;
  }
  .logo {
    line-height: 1.33;
  }
  .nav-list {
    display: flex;
    gap: 0 40px;
  }
  .nav-list-link {
    position: relative;
    padding-top: 24px;
    padding-bottom: 22px;
  }
  .nav-list-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    top: calc(100% - 3px);

    width: 100%;
    height: 4px;
    background-color: var(--main-hover-color);
    border-radius: 2px;
  }
  .js-open-menu,
  .js-menu-container {
    display: none;
  }

  /* =============== Hero =============== */

  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;

    font-size: 56px;
    line-height: 1.07;
  }

  /* =============== Features =============== */

  .features-list {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
  }
  .features-list li {
    flex-basis: calc((100% - 24px) / 2);
  }
  .features-item-text {
    font-weight: 500;
  }

  /* =============== Team =============== */

  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 62px 24px;
    justify-content: center;
  }

  /* =============== Customers =============== */

  .customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .customers-list li {
    max-width: calc((100% - 48px) / 3);
  }
  .customers-list-link {
    padding: 16px 31px;
  }

  /* =============== Footer =============== */

  .subscription-form {
    display: flex;
    gap: 0 24px;
  }
  .subscription-form-input {
    width: 264px;
  }
  .footer .logo {
    padding-top: 0;
  }

  /* =============== Modal =============== */

  .modal {
    width: 408px;
    min-height: 586px;
    padding: 72px 24px 24px;
  }

  /* portfolio.html */

  .portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .categories-list {
    justify-content: center;
    margin-bottom: 64px;
  }
  .secondary-button {
    padding: 12px 24px;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .portfolio-img {
    width: 356px;
    height: 300px;
  }
}

@media screen and (min-width: 1440px) {
  /* =============== Common =============== */

  .container {
    width: 1158px;
  }
  .section {
    padding-bottom: 120px;
  }

  /* =============== Header =============== */

  .navigation {
    gap: 0 76px;
  }
  .logo {
    padding-bottom: 28px;
  }
  .nav-list-link {
    padding-bottom: 28px;
  }
  .contact-list {
    display: flex;
    gap: 0 40px;
  }
  .contacts-list-link {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  /* =============== Hero =============== */

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    width: 1440px;
  }
  .hero-title {
    margin-bottom: 48px;
  }

  /* =============== Features =============== */

  .features {
    padding-top: 120px;
  }
  .features-list {
    row-gap: 24px;
  }
  .features-list li {
    flex-basis: calc((100% - 72px) / 4);
  }
  .thumb {
    display: block;
    background-color: var(--background-color);
    padding: 24px 100px;
    margin-bottom: 8px;
    border-radius: 4px;
  }
  .features-icon {
    width: 64px;
    height: 64px;
    display: block;
  }
  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .features-item-text {
    font-weight: 400;
  }

  /* =============== Examples =============== */
  .examples {
    display: block;
  }
  .examples-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .examples-title {
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
  }

  /* =============== Team =============== */

  .team {
    padding-top: 120px;
  }
  .team-list {
    row-gap: 24px;
  }

  /* =============== Customers =============== */

  .customers {
    padding-top: 96px;
  }
  .customers-list {
    row-gap: 24px;
  }
  .customers-list li {
    max-width: calc((100% - 120px) / 6);
  }

  /* =============== Footer =============== */

  .footer-inner {
    display: flex;
    align-items: baseline;
  }
  .footer-textbox {
    margin-right: 120px;
  }
  .footer .logo {
    padding-top: 8px;
  }
  .footer-socials {
    margin-right: 80px;
  }

  /* portfolio.html */

  .portfolio {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .categories-list {
    margin-bottom: 72px;
  }
  .portfolio-list {
    gap: 48px 24px;
  }
}

/* =================== Images =================== */

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/mobile/hero-bg.webp");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/mobile/hero-bg@2x.webp");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/tablet/hero-bg.webp");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/tablet/hero-bg@2x.webp");
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/desktop/hero-bg.webp");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
  (min-resolution: 192dpi) and (min-width: 1440px),
  (min-resolution: 2dppx) and (min-width: 1440px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/desktop/hero-bg@2x.webp");
  }
}
